@import "../base/mixin";
.cart-content {
  padding-top: 50px;
  .container {
    .carts {
      // @include flexbox(start, center);
      // flex-wrap: wrap;
      display: grid; grid-template-columns: repeat(4,1fr);
      gap: 26px;
      
    }
    .hide {
        margin-top: 65px;
        @include flexbox(center, center);
      button {
        border: 1.3px solid #6f73ee;
        width: 142px;
        height: 53px;
        background: white;
        border-radius: 5px;
        font-family: Jost;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.12px;
        text-align: center;
        color: #6F73EE;
        &:hover{
          background: #6F73EE;
          color: white;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
