@import "../base/mixin";
.filter-wrapper {
  .container {
    @include flexbox(space-between);
    .filter-text {
      h1 {
        //styleName: 35 px (semibold);
        font-family: Jost;
        font-size: 35px;
        font-weight: 600;
        line-height: 50.58px;
        text-align: left;
        color: #282739;
      }
    }
    .filter-buttons {
      @include flexbox(start, center);
      gap: 10px;
      button {
        height: 37px;
        background-color: #f4f7fb;
        //styleName: 12 px (regular);
        font-family: Jost;
        font-size: 12px;
        font-weight: 400;
        line-height: 17.34px;
        text-align: center;
        color: #5d6c7b;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;

        &:first-child {
          color: #ffffff;
          background-color: #6f73ee;
          width: 109px;
        }
        &:nth-child(2) {
          width: 103px;
        }
        &:nth-child(3) {
          width: 116px;
        }
        &:nth-child(4) {
          width: 96px;
        }

        &:not(.active):hover {
          
          border:1px solid #6f73ee !important;
        }
      }
    }
  }
}
