@import "../base/mixin";
.header-top {
  padding: 11px 0;
  border-bottom: 1px solid #ecf3ff;
  .container {
    @include flexbox(space-between, center);
    .header-left {
      @include flexbox(start, center);
      gap: 30px;
      a {
        font-family: Jost;
        font-size: 12px;
        font-weight: 400;
        line-height: 17.34px;
        text-align: left;
      }
      .header-left-icons {
        @include flexbox(start, center);
        gap: 8.5px;
      }
    }
    .header-right {
      //styleName: 12 px (medium);
        @include flexbox(start, center);
      font-family: Jost;
      font-size: 12px;
      font-weight: 400;
      line-height: 17.34px;
      text-align: left;
      gap: 9px;
    }
  }
}
header{
    padding-top: 30px;
    padding-bottom: 35px;
    
    .container{
        border: 1px solid red;
        @include flexbox(start,center);

    }
}
.header-menu{
}